.btn-controller{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

.btn-controller button{
    width: 15%;       
    padding: .8rem;
    margin: .2rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;    
}

#next:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

#back:hover{
    background-color: #f33e11; /* Green */
    color: white;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
  }  
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;    
  }

  @media only screen and (max-width: 600px){
    .btn-controller{   
      position: fixed;
      bottom: 0;
    }

    .btn-controller button{
        width: 45%;          
    }
}