.card-content{
    width: 100%;
    max-width: 1200px;
    display: flex;  
    align-items: center;
    justify-content: center;

    margin: auto;
    padding: .5rem;
}

.box-content{   
 display: flex;
 flex-wrap: wrap; 
 margin: auto; 
}

.box-content img{    
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.box-content li{
    width: 200px;
    list-style: none;  
    margin: .1rem;
    padding: .1rem;
    display: flex;
    flex-direction: column;
}

.box-content span{
    text-align: center;
    font-size: 18px;      
}